# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MINT38SE_LEFT

config ZMK_KEYBOARD_NAME
    default "Mint38SE"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MINT38SE_LEFT || SHIELD_MINT38SE_RIGHT

config ZMK_SPLIT
    default y

endif
